*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent{
    width: 40vw;
    min-height: 70vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
}